@model NerdDinner.Models.Dinner

@if (Model.IsHostedBy(Context.User.Identity.Name))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DinnerID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.DinnerID })
    </p>
}