@model NerdDinner.Models.Dinner

<div id="rsvpmsg">

    @if (Request.IsAuthenticated)
    {
        if (Model.IsUserRegistered(Context.User.Identity.Name))
        {
            <p>You are registered for this event!</p>
        }
        else
        {
            <p>
                @Ajax.ActionLink(
                    "RSVP for event",
                    "Register",
                    "Dinners",
                    new {id = Model.DinnerID},
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "rsvpmsg",
                        OnSuccess = "AnimateRSVPMessage"
                    }
                    )
            </p>
        }
    }
    else
    {
        <p><a href="/Account/Logon">Logon</a> to RSVP for this event;
        </p>
    }

</div>


<script type="text/javascript">
        function AnimateRSVPMessage() {
            $("#rsvpmsg").animate({ fontSize: "3.5em" }, 400);
        }
</script>