@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>

<div>
    @using (Html.BeginForm())
    {
        @Html.ActionLink("Back", "Index")
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/>
        </div>

    }
</div>
