@{
    ViewBag.Title = "Home Page";
}

<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2"></script>
<script src="~/Scripts/Map.js"></script>

<h2>Find a Dinner</h2>

<div id="mapDivLeft">

    <div id="searchBox">
        Enter your location: @Html.TextBox("Location")
        <input id="search" type="submit" value="Search" />

        <hr/>

        <div id="theMap" style="position: relative; width: 500px; height: 400px;"></div>
    </div>
</div>

<hr />

<div id="mapDivRight">
    <div id="dinnerList"></div>
</div>

<script>

    $(document).ready(function () {
        LoadMap();
    });

    $("#search").click(function (evt) {
        var where = jQuery.trim($("#Location").val());
        if (where.length < 1)
            return;

        FindDinnersGivenLocation(where);
    });

</script>